* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.left, .right {
    width: calc(50% - 10px);
    margin-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (max-width: 1200px) {
    .video-read-container {
        flex-direction: column;
        align-items: flex-start;

        .main-button {
            flex: none;
            width: 100%;
            max-width: calc(100% - 10px);
            margin-bottom: 10px;
        }
    }

    .read-param-box {
        margin: 20px 20px; 
    }

    .file-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-button, input[type="text"] {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .separator {
        display: none; 
    }
}

body {
    background-color: #bdcbd2;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    width: calc(100% - 40px);
    max-width: 800px;
    height: 150px; 
    margin: 10px 20px;
    font-size: 16px;
    overflow-y: scroll; 
    resize: none; 

    // скролл
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(74, 138, 244, 0.5); 
    }
}

input[type="text"], select {
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: darken(#4a8af4, 10%);
        box-shadow: 0 0 0 3px rgba(74, 138, 244, 0.5);
        outline: none;
    }
}

select {
    cursor: pointer;
}

.crop-box, .file-box, .video-window, .read-param-box, .main-button, textarea, input[type="text"], select {
    padding: 10px;
    border: 2px solid #4a8af4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-button, .checkbox, label, span {
    text-align: center;
    font-size: 18px;
    margin: 5px 5px;
}

.crop-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    align-items: center;
    margin: 10px 20px;

    .checkbox-section, .time-section, .main-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .time-section {
        justify-content: space-between;

        [type="text"] {
            width: calc(50% - 5px);
            max-width: 140px; 
        }
    }
}

.file-box {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 10px 20px;

    .main-button, input[type="text"] {
        flex: 1; 
        font-weight: bold;
    }

    input[type="text"] {
        margin-right: 5px;
        margin-left: 5px;
    }

    .separator {
        width: 2px; 
        height: 30px; 
        background: linear-gradient(to bottom, #4a8af4 0%, #82c4f8 100%);
        align-self: center; 
    }

    &:last-child {
        margin-right: 0;
    }
}

.video-read-container {
    display: flex; 
    align-items: start;
    margin-top: 30px;
    width: calc(95% - 15px);
}
    
.read-param-box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.form-line {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.main-button {
    text-decoration: none;
    font-weight: bold;
    background-color: #4a8af4;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken(#4a8af4, 10%);
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &:active {
        box-shadow: 0 0 0 3px rgba(74, 138, 244, 0.5);
    }
}

.checkbox-section {
    border: 2px solid #4a8af4;
    padding: 10px;
    border-radius: 5px;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f2f5;
    margin-right: 5px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    border: 2px solid #4a8af4;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    vertical-align: middle;

    &:checked {
        background-color: darken(#4a8af4, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(74, 138, 244, 0.5);
    }
}

.video-window {
    width: 100%; 
    max-width: 1000px; 
    height: 562.5px;
    background-color: #000;
    margin: 0px 20px;
}