////////////////////////////////////////
textarea {
    outline: none;
}
////////////////////////////////////////

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-label {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #7b7b7b;
    background-color: #fff;
}

input[type="radio"]:checked + .radio-label::before {
    background-color: #4a8af4;
}

////////////////////////////////

.fields-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-left: 20px;
    margin-right: 1260px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px; 
}

.text-fields input[type="text"] {
    padding: 10px; 
    border: 2px solid #4a8af4; 
    border-radius: 5px; 
    font-size: 16px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.crop-button {
    padding: 10px 20px; // Паддинг, соответствующий текстовым полям
    background-color: #4a8af4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    align-self: stretch; // Растягивание кнопки на всю высоту контейнера
}

////////////////////////////////

.video-window {
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-color: #000;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
  